---

---

<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Ingeniería Electrónica</h3>
      <p>Universidad del Quindío</p>
    </div>
    <div class="footer-section">
      <h3>Teléfono</h3>
      <p>(+57) 123 456 7890</p>
    </div>
    <div class="footer-section">
      <h3>Dirección</h3>
      <p>Carrera 15 Calle 12N, Armenia, Quindío, Colombia</p>
    </div>
    <div class="footer-section">
      <h3>Email</h3>
      <p>electronica@uniquindio.edu.co</p>
    </div>
  </div>
</footer>

<style>
  .footer {
    padding: 20px 0;
    text-align: center;
  }

  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer-section {
    margin: 10px;
  }

  .footer h3 {
    margin-bottom: 10px;
    font-size: var(--title3-size);
    font-weight: bold;
  }

  .footer p {
    margin: 0;
    font-size: var(--text-size);
  }

  @media (max-width: 600px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }

    .footer-section {
      margin-bottom: 20px;
    }
  }
</style>