---
import Layout from '../presentation/layouts/Layout.astro';
import Header from '../presentation/components/molecules/Header.astro';
import Footer from '../presentation/components/molecules/Footer.astro';
import HeroSection from '../presentation/components/organisms/HeroSection.astro';
import DescriptionSection from '../presentation/components/organisms/DescriptionSection.astro';
import GoalsSection from '../presentation/components/organisms/GoalsSection.astro';
import FaqSection from '../presentation/components/organisms/FaqSection.astro';
---

<Layout title="Acreditación internacional - Reacreditación.">
	<Header />
	<main>
		<HeroSection />
		<DescriptionSection />
		<GoalsSection />
		<FaqSection />
	</main>
	<Footer />
</Layout>

<style>
	main {
		margin: auto;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
