---
import Title from "../atoms/Title.astro";


---

<section id="faq">
  <Title title="Preguntas frecuentes" />
  <div class="list">
    <div>
      <h4>¿Qué es la acreditación ARCUSUR?</h4>
      <p>La acreditación ARCUSUR es un reconocimiento internacional que valida la calidad y excelencia de los programas académicos ofrecidos por instituciones educativas en América Latina. Asegura que estas instituciones cumplan con estándares rigurosos en enseñanza, investigación y gestión.</p>
    </div>
    <div>
      <h4>¿Cómo beneficia la acreditación ARCUSUR a los estudiantes?</h4>
      <p>Para los estudiantes, la acreditación ARCUSUR ofrece garantías de que recibirán una educación de alta calidad, reconocida internacionalmente. También facilita la movilidad académica entre países de la región, permitiendo que los estudios realizados sean reconocidos en diferentes instituciones.</p>
    </div>
    <div>
      <h4>¿Qué proceso sigue una institución para obtener la acreditación ARCUSUR?</h4>
      <p>El proceso de acreditación ARCUSUR incluye una evaluación exhaustiva de la institución por parte de un equipo de expertos internacionales. La institución debe presentar documentación detallada y demostrar que cumple con los estándares requeridos. Luego, se realiza una visita de evaluación y se emite un informe con recomendaciones antes de otorgar la acreditación.</p>
    </div>
    <div>
      <h4>¿Qué es la acreditación CNA?</h4>
      <p>La acreditación CNA es un proceso de evaluación que valida la calidad educativa de las instituciones en Colombia. Asegura que las instituciones cumplan con estándares nacionales en aspectos como enseñanza, investigación y gestión institucional. </p>
    </div>
    <div>
      <h4>¿Cómo beneficia la acreditación CNA a las instituciones?</h4>
      <p>La acreditación CNA mejora la reputación de las instituciones al demostrar su compromiso con la calidad. Facilita el acceso a recursos y financiamiento, y promueve el reconocimiento y la confianza de estudiantes y empleadores.</p>
    </div>
    <div>
      <h4>¿Qué pasos debe seguir una institución para obtener la acreditación CNA?</h4>
      <p>Una institución debe preparar un informe detallado, someterse a una evaluación externa por parte de un comité de expertos y recibir una visita de evaluación. Basado en el informe y la visita, la CNA emite una decisión sobre la acreditación.</p>
    </div>
  </div>
</section>

<style>
  section {
    width: 60%;
    margin: auto;
    margin-bottom: 200px;
  }
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  p {
    opacity: 0.7;
    font-size: var(--text-size);
  }
  h4 {
    font-size: var(--title4-size);
    line-height: calc(var(--title4-size) + 8px);
  }
  @media (max-width: 600px) {
    section {
      width: 90%;
    }
    .list {
      display: block;
    }
  }
</style>