---
import ButtonLink from "../atoms/ButtonLink.astro";
import Title from "../atoms/Title.astro";
import IconSmile from "../icons/IconSmile.astro";
import IconAirplane from "../icons/IconAirplane.astro";
import IconAward from "../icons/IconAward.astro";
import IconCheckCircle from "../icons/IconCheckCircle.astro";
import IconChartLine from "../icons/IconChartLine.astro";
import IconCrown from "../icons/IconCrown.astro";

---

<section class="accreditation-benefits">
  <Title title="Ventajas de la Acreditación" />
  <div class="row">
    <div class="row-title">
      <h3>Arcusur</h3>
    </div>
    <div class="items-list">
      <div class="item-menu">
        <header>
          <div class="icon">
            <IconAward />
          </div>
          <h3>Reconocimiento</h3>
        </header>
        <p>Certifica la calidad educativa a nivel internacional.</p>
      </div>
      <div class="item-menu">
        <header>
          <div class="icon">
            <IconAirplane />
          </div>
          <h3>Movilidad</h3>
        </header>
        <p>Facilita la movilidad académica entre países de la región.</p>
      </div>
      <div class="item-menu">
        <header>
          <div class="icon">
            <IconSmile />
          </div>
          <h3>Confianza</h3>
        </header>
        <p>Aumenta la credibilidad de la institución ante estudiantes y empleadores.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      <h3>CNA</h3>
    </div>
    <div class="items-list">
      <div class="item-menu">
        <header>
          <div class="icon">
            <IconCheckCircle />
          </div>
          <h3>Calidad</h3>
        </header>
        <p>Valida la excelencia académica a nivel nacional.</p>
      </div>
      <div class="item-menu">
        <header>
          <div class="icon">
            <IconChartLine />
          </div>
          <h3>Mejora</h3>
        </header>
        <p>Impulsa el mejoramiento continuo de los programas educativos.</p>
      </div>
      <div class="item-menu">
        <header>
          <div class="icon">
            <IconCrown />
          </div>
          <h3>Prestigio</h3>
        </header>
        <p>Fortalece la reputación de la institución en el país.</p>
      </div>
    </div>
  </div>
  <footer>
    <h3>¿Tienes dudas?</h3>
    <ButtonLink text="¡Conoce más!" href="#faq" />
  </footer>
</section>

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
  }

  section {
    width: 70%;
    margin: auto;
  }
  .row {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-bottom: 100px;
    align-items: center;
    border: 1px solid rgba(10, 10, 10, 0.2);
    border-radius: 20px;
    padding: 20px 20px;
  }
  .row-title {
    background-color: var(--primary-color);
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .items-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .item-menu {
    text-align: center;
  }
  .item-menu header {

  }
  .icon {
    color: var(--primary-color);
    padding: 15px;
    border-radius: 100%;
    background: rgba(10, 10, 10, 0.05);
    width: 70px;
    height: 70px;
    margin: 20px auto;
  }
  h3 {
    margin: 0px;
  }
  p {
    opacity: 0.8;
    margin: 0px;
  }

  @media (max-width: 600px) {
    section {
      width: 90%;
    }
    .items-list {
      display: block;
    }
    .row {
      display: block;
      border: none;
    }
    .row-title {
      height: 100px;
    }
  }

</style>