---

---

<div class="container">
  <section class="accreditation">
      <div class="accreditation-card">
          <h2>ARCUSUR</h2>
          <p>La acreditación ARCUSUR valida la calidad educativa en América Latina, garantizando altos estándares y facilita la movilidad académica entre países.</p>
          <a href="https://www.arcusur.org" target="_blank" class="link-card">
            Visita la página oficial
          </a>
      </div>
      <div class="accreditation-card">
          <h2>CNA</h2>
          <p>La acreditación CNA certifica la calidad educativa en Colombia, mejorando la reputación institucional y promoviendo el acceso a recursos y confianza.</p>
          <a href="https://www.cna.gov.co" target="_blank" class="link-card">
            Visita la página oficial
          </a>
      </div>
  </section>
</div>

<style>
  .container {
    width: 80%;
    margin: 100px auto;
    overflow: hidden;
  }

  .accreditation {
      display: flex;
      justify-content: space-around;
      gap: 100px;
      margin-top: 50px;
  }

  .accreditation-card {
      background: #ffffff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 20px 0;
      padding: 20px;
      text-align: center;
      transition: transform 0.3s;
  }

  .accreditation-card h2 {
      color: #226db6;
      margin-bottom: 10px;
  }

  .accreditation-card p {
      color: #333;
      font-size: 16px;
      line-height: 1.6;
  }

  @media (max-width: 600px) {

    .accreditation {
      flex-direction: column;
      gap: 0px;
    }
  }
</style>