---

---

<section>
  <h2>ARCU-SUR</h2>
  <p>Sistema Regional de Acreditación para la Educación Superior en el Mercosur y Estados Asociados</p>
  <div class="item">
    <div>
      <div>
        <h4>¿En qué me beneficia como estudiante?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
      <div>
        <h4>¿En qué me beneficia como estudiante?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
      <div>
        <h4>¿En qué me beneficia como estudiante?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
    <div>
      <img src="/images/arcusur.jpg" />
    </div>
  </div>
  <h2>CNA</h2>
  <p>Consejo Nacional de Acreditación</p>
  <div class="item">
    <div>
      <img src="/images/arcusur.jpg" />
    </div>
    <div>
      <div>
        <h4>¿En qué me beneficia como estudiante?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
      <div>
        <h4>¿En qué me beneficia como estudiante?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
      <div>
        <h4>¿En qué me beneficia como estudiante?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    width: 60%;
    margin: auto;
    min-height: 100vh;
  }
  .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  p {
    opacity: 0.7;
    font-size: var(--text-size);
  }
  h4 {
    font-size: var(--title4-size);
    margin: 0px 4px;
  }
  img {
    width: 300px;
  }
</style>