---

---
<div class="container">
  <section>
    <div class="section-image">
        <img src="/images/roles/students.png" alt="Imagen relacionada">
    </div>
    <div class="section-content">
      <h2>El rol del estudiante en la acreditación</h2>
      <p>A través de su retroalimentación y representación en comités, contribuye a mejorar los programas académicos, asegurando que cumplan con los estándares internacionales y nacionales, y fortaleciendo el prestigio de la institución.</p>
    </div>
  </section>
  <section>
    <div class="section-image">
      <img src="/images/roles/teachers.png" alt="Imagen relacionada">
    </div>
    <div class="section-content">
      <h2>El rol del docente en la acreditación</h2>
      <p>Participan en la autoevaluación, aportan evidencias de su trabajo y colaboran en la mejora continua, asegurando que los estándares internacionales y nacionales se cumplan, lo que contribuye al reconocimiento y la excelencia de la institución.</p>
    </div>
  </section>
  <section>
    <div class="section-image">
      <img src="/images/roles/institution.jpg" alt="Imagen relacionada">
    </div>
    <div class="section-content">
      <h2>El rol de la institución en la acreditación</h2>
      <p>Fomentar una cultura de mejora continua, garantizar la participación activa de estudiantes, docentes y administrativos, y proporcionar los recursos necesarios para el proceso. La institución se compromete a mantener la excelencia académica y operativa.</p>
    </div>
  </section>
</div>

<style>
 
 .container {
  padding: 100px 0px;
 }
section {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
}

section:nth-child(even) {
    flex-direction: row-reverse;
}

section:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Imagen lateral con forma diagonal */
.section-image {
    width: 40%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transform: skewY(3deg);
    margin-right: 30px;
    transition: transform 0.1s ease-in-out;
}

section:hover .section-image {
  transform: skewY(0deg);
}

.section-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section:nth-child(even) .section-image {
    margin-left: 30px;
    margin-right: 0;
    transform: skewY(-3deg);
}
section:nth-child(even):hover .section-image {
    transform: skewY(0deg);
}

.section-content {
    width: 60%;
}

/* Estilos de los textos */
h2 {
    color: #226db6;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    margin-bottom: 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    section {
        flex-direction: column;
        width: 95%;
    }

    section:nth-child(even) {
        flex-direction: column;
    }

    .section-image, .section-content {
        width: 100%;
        margin: 0;
    }

    .section-image {
        height: 200px;
        transform: none;
    }
    section:nth-child(even) .section-image {
        transform: none;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px 10px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    p {
        font-size: 0.9rem;
    }
}
</style>